.editar-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;        
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;           
  }
  
  .campo-senha {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }
  

  